:root {
    --white-color: #fff;
    --black-color: #000;
    --btn-color: #273751;
    --gray-color: rgb(117,117,117);
    --border-color: rgb(221, 221, 221);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.fw600 {
    font-weight: 600;
}