#header {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}


#header > .logo img,
#footer .logo img {
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

#header .logo,
#footer .logo {
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    color: var(--black-color);
    background-color: var(--white-color);
    text-align: center;
    letter-spacing: 6px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#header #nav {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
    color: var(--white-color);
    position: relative;
}

#header #nav > li {
    position: relative;
    margin: 0 20px;
}

#header #nav > li > a {
    letter-spacing: 3px;
    margin: 0 0px;
    font-size: 13px;
    color: var(--white-color);
    text-decoration: none;
}

#header #nav > li > a:before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--white-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
}

#header #nav > li > a:hover:before,
#header #nav > li > a:focus:before {
    transform: scaleX(1);
    visibility: visible;
}

#header #nav > li:hover .sub-nav {
    display: block;
}

#header #nav > li:hover:before {
    content: "";
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid var(--white-color);
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

#header .sub-nav {
    display: none;
    margin-top: 16px;
    position: absolute;
    top: 100%;
    min-width: 200px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    animation: opacity 0.3s linear;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#header .sub-nav:before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    top: -20px;
    min-width: 200px;
    height: 20px;
}

#header .sub-nav > li > a:hover {
    background: #ECF0FB;
}

#header .sub-nav > li > a {
    display: block;
    background: var(--white-color);
    padding: 12px 20px;
    color: var(--black-color);
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}

.sign-up {
    background: url(../img/banner/voucher.jpg) top center / cover no-repeat;
    height: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sign-up .fill-voucher {
    position: relative;
    background: rgba(255, 255, 255, 0.9);;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 28px 0px;
    max-width: 700px;
    padding: 30px;
}

.sign-up .title-voucher {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 4px;
}

.sign-up .desc-voucher {
    line-height: 22.4px;
    margin: 12px 0;
    font-size: 14px;
    color: #686868;
}

.sign-up label {
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
}

.sign-up #email {
    border: 1px solid rgb(221 221 221);
    background: var(--white-color);
    color: var(--black-color);
    border-radius: 2px;
    padding: 0 16px;
    margin: 8px 0;
    height: 50px;
    width: 72%;
    font-family: 'Montserrat', sans-serif;
}

.sign-up #btn-sign-up {
    font-family: 'Montserrat', sans-serif;
    border: none;
    position: absolute;
    right: 30px;
    background-color: #C7C7C7;
    color: var(--white-color);
    border-radius: 2px;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 8px 0;
    height: 50px;
    width: 23%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sign-up #email:focus + #btn-sign-up {
    background-color: var(--black-color);
}

.sign-up .read-data {
    width: 72%;
}

.sign-up .read-data a {
    color: #686868;
}

.sign-up .connect-social {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.sign-up .connect-social {
    min-width: 700px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 28px 0px;
}

.sign-up .connect-social .social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    width: 36px;
    height: 36px;
    background: var(--white-color);
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.sign-up .connect-social .social:hover,
.btn-arrow-up:hover {
    transform: translateY(-6px);
}

.sign-up .connect-social img {
    width: 16px;
    height: 16px;
}

#footer {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
}

#footer .common-footer {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#footer .part {
    min-width: 200px;
}

#footer .part .title {
    margin: 12px 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.2px;
}

#footer .part li {
    display: block;
    margin: 12px 0;
}

#footer .part a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: var(--black-color)
}

#footer .part a:hover {
    text-decoration: underline;
}

#footer .select-language {
    margin-top: 42px;
    display: flex;
    align-items: center;   
}

#footer .select-language .icon-globe {
    margin: 0 8px;
    z-index: 1;
    height: 16px;
    pointer-events: none;
}

#footer .select-language select {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    padding-left: 36px;
    margin: 0 -36px;
    width: 100%;
    height: 40px;
    appearance: none;
    border: 1px solid var(--black-color);
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    outline: none;
}

#footer .select-language select:hover {
    border: 1px solid transparent;
}

#footer .select-language .icon-arrow-down {
    height: 8px;
    margin-left: 10px;
    pointer-events: none;
}

#footer .default-footer {
    display: flex;
    margin: 30px 0;
}

#footer .payment-icon {
    flex: 1;
}

#footer .payment-icon img {
    margin: 0 12px 8px 0;
}

#footer .logo {
    font-size: 12px;
    flex: 1;
}

#footer .copyright {
    flex: 1;
    font-size: 14px;
    text-align: right;
}

.btn-arrow-up {
    width: 40px;
    height: 40px;
    top: -23%;
    left: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 4px;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: 0 0 14px rgb(0 0 0 / 15%);
    transition: transform 0.2s ease;
}

.btn-arrow-up img {
   height: 20px;
   width: 20px;
}

/* CSS Cart */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 100px;
}

.container .title {
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 300;
    margin: 36px 0;
    text-align: center;
}

.about-cart {
    display: flex;
    justify-content: space-between;
}

.show-cart {
    width: 70%;
}

.show-cart .items {
    margin-right: 28px;
}

.show-cart .item {
    display: flex;
    min-height: 220px;
}

.show-cart .item .img-item {
    flex: 1;
    height: 200px;
}

.show-cart .item .img-item a {
    display: block;
}

.show-cart .item img {
    width: 100%;
    border-radius: 2px;
}

.show-cart .item .desc-item {
    flex: 3;
    margin: 0 12px;
}

.show-cart .item .desc-item > * {
    margin: 12px 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--gray-color);
}

.show-cart .item .desc-item .name {
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--black-color);
}

.show-cart .item .desc-item .wrap-size-qty {
    display: flex;
}

.show-cart .item .desc-item .quantity {
    margin-left: 16px;
}

.show-cart .item .desc-item .select-size {
    cursor: pointer;
}


.show-cart .item .desc-item select {
    appearance: none;
    padding: 4px 28px 4px 12px;
    margin-right: -30px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--gray-color);
}

.show-cart .item .desc-item .icon-arrow {
    width: 8px;
    margin-left: 8px;
    pointer-events: none;
}

.show-cart .item .icon-remove-cart {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    letter-spacing: 2px;
}

.show-cart .item .icon-remove-cart > img {
    width: 30px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.show-cart .item .icon-remove-cart > img:hover {
    opacity: 0.7;
}
.total-cart {
    width: 30%;
}

.total-cart > * {
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--black-color);
    font-weight: 500;
}

.total-cart > div {
    display: flex;
    margin: 8px 0;
    justify-content: space-between;
}

.total-cart > h2 {
    margin-bottom: 16px;
    font-size: 20px;
}

.total-cart > .total-price {
    margin: 30px 0px;
    font-size: 16px;
    padding: 12px 0;
    border-top: 1px solid var(--gray-color);
}

.total-cart .checkout {
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 8px 20px;
    font-weight: normal;
    letter-spacing: 2px;
    display: block;
    border-radius: 2px;
    width: 100%;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    transition: all 0.2s linear;
}

.total-cart .checkout:hover {
    cursor: pointer;
    background-color: var(--btn-color);
}



