#header {
    width: 100%;
    height: 40px;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
}

#header .go-shop {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
}

#header .go-shop > img {
    padding-right: 8px;
    margin-left: 20px;
    width: 30px;
}


#header > .logo img,
#footer .logo img {
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

#header .logo,
#footer .logo {
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#footer .logo {
    color: var(--black-color);
    background-color: var(--white-color);
}

#header > a {
    color: var(--white-color);
}

#header .logo {
    font-weight: 600;
}

/* CSS Checkout */

.sales-mode {
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: 40px;
    background-color: #F4F4F4;
    box-shadow: 0 10px 10px 20px rgb(0, 0, 0 / 15%);
}

.sales-mode .icon {
    margin-right: 8px;
    max-height: 28px;
}

.sales-mode .shipping, 
.sales-mode .return,
.sales-mode .warranty {
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.container .title {
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: 300;
    margin: 36px 0;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    
}

.info {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.info .name {
    font-size: 17px;
    letter-spacing: 1.5px;
    font-weight: normal;
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info .name > img {
    width: 12px;
    opacity: 0.7;
    margin-right: 4px;
    cursor: pointer;
}

.info .fields-wrapper {
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 13%), 
    0px 1px 7px 0px rgb(0 0 0 / 19%);
    border-radius: 2px;
}
 
.info .input-info {
    padding: 30px 20px;
}

.info .input-info > h3 {
    font-size: 16px;
    text-align: center;
    margin: 12px 0;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.info .the-basics,
.info .shipping {
    border-top: 1px solid var(--border-color);
    margin-bottom: 48px;
}

.input-address {
    display: flex;
    flex-wrap: wrap;
}

.input-address .input-field {
    padding: 0 5px;
    width: 100%;
    margin: 8px 0;
    color: var(--black-color);
}

.input-address .input-field > label {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
    letter-spacing: 2px;
}

.input-address .input-field > input {
    min-height: 48px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    width: 100%;
    padding: 0 12px;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.input-address .input-field.f-first-name,
.input-address .input-field.f-last-name {
    width: 50%;
}

.input-address .input-field.f-city {
    width: 60%;
}

.input-address .input-field.f-zip-code {
    width: 40%;
}

.input-address .province-wrappe {
    display: flex;
    align-items: center;
}

.input-address .input-field #select-province {
    height: 48px;
    width: 100%;
    margin-right: -30px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 12px;
    appearance: none;
    outline: none;
}

.input-address .input-field .icon-arrow {
    width: 10px;
    pointer-events: none;
    opacity: 0.7;
    color: var(--btn-color);

}

.input-address .input-field.country {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.input-address .input-field.country > h5 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 13px;
}

.input-address .input-field.country > span {
    text-transform: initial;
    padding: 0 5px;
    font-size: 13px;
}

.btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.btn-style {
    letter-spacing: 2px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 8px 20px;
    width: 49.5%;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.btn-style:hover {
    opacity: 0.8;
}

.btn-reset {
    background-color: #ff4625;
}

.shipping-method {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.shipping-method + .shipping-method,
.payment-method + .payment-method {
    border-top: 1px solid rgb(190, 190, 190);
}


.shipping-method .shipping-price {
    display: flex;
    letter-spacing: 1.4px;
    font-size: 13px;
    position: relative;
    padding-bottom: 12px;
}

.shipping-method .shipping-data {
    display: block;
    width: 100%;
    letter-spacing: 1px;
    font-size: 13px;
    padding-top: 8px;
    text-transform: initial;
    color: var(--gray-color);
}

.shipping-method .shipping-price input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 6px;
    top: 9px;
}

.shipping-method .shipping-price > label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.shipping-method .shipping-price > label > * {
    margin-left: 12px;
}

.shipping-method .shipping-price .price-express {
    margin-left: auto;
    cursor: pointer;
}

.shipping-method .shipping-price .checkbox,
.payment-method .checkbox {
    width: 24px;
    height: 24px;
    background-color: var(--white-color);
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
    pointer-events: none;
}

.shipping-method .shipping-price .checkbox:after,
.payment-method .checkbox::after {
    content: "";
    display: none;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black-color);
    border-radius: 50%;
}

.shipping-method:hover,
.payment-method:hover{
    background-color: rgb(244 244 244);
}

.shipping-method input:checked + .checkbox:after,
.shipping-method input:checked + .checkbox,
.payment-method input:checked + .checkbox:after,
.payment-method input:checked + .checkbox {
    display: block;
    border: 1px solid var(--black-color);
}

.shipping-method .logo-express {
    height: 30px;
}

.shipping-method > label {
    display: block;
    cursor: pointer;
}

.payment {
    padding-bottom: 48px;
    margin-bottom: 20px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.payment-method {
    padding: 30px 20px;
    align-items: center;
}

.payment-method input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 18px;
    top: 19px;
}

.payment-method .name-method {
    letter-spacing: 1.4px;
    font-size: 13px;
    padding-bottom: 12px;
}

.payment-method .wrapper-credit-card {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 12px;
}

.payment-method .credit-card {
    padding-left: 12px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.payment-method .icon-credit-card {
    width: 100%;
}

.payment-method .check-radio {
    padding: 10px 0;
}

.icon-payment {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon-payment > * {
    padding: 0 4px;
    pointer-events: none;
    max-height: 22px;
}

.btn-payment {
    width: 100%;
    text-decoration: none;
    height: 50px;
    padding: 0;
    line-height: 50px;
    background-color: #C7C7C7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-payment > img {
    width: 14px;
    height: 14px;
    margin-left: 20px;
    transform: rotate(270deg);
}

.btn-payment:hover, 
.pay .coupon > button:hover {
    background-color: var(--btn-color);
}

.btn-payment:focus,
.pay .coupon > button:focus {
    background-color: var(--black-color);
}

.privacy-policy {
    max-width: 600px;
    margin: 0 auto;
}

.privacy-policy > p {
    margin: 30px 0 60px 0;
    font-size: 14px;
    text-transform: initial;
    text-align: center;
    font-weight: 300;
    line-height: 22px;
    color: var(--gray-color);
}

.privacy-policy a {
    color: var(--black-color);
    font-weight: 500;
    transition: all 0.2s linear;
}

.privacy-policy a:hover {
    opacity: 0.8;
}

.pay {
    width: 37%;
}

.info-pay {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 13%), 
    0px 1px 7px 0px rgb(0 0 0 / 19%);
    border-radius: 2px;
    padding: 12px;
}

.info-pay .common-info {
    border-top: 1px solid var(--border-color);
    padding: 16px 0;
    font-size: 14px;
    letter-spacing: 1.2px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

#list-items-cart {
    width: 100%;
}

#list-items-cart .item-cart {
    display: flex;
    padding: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
}

#list-items-cart .item-cart .img-item {
    width: 70px;
    height: 70px;
}

#list-items-cart .item-cart .desc-item {
    padding: 0 8px;
    font-size: 12px;
}

#list-items-cart .item-cart .name-item {
    font-size: 13px;
}

#list-items-cart .item-cart .img-item > img {
    width: 100%;
    border-radius: 2px;
}

#list-items-cart .item-cart .price-item {
    margin-left: auto;
    align-self: flex-end;
    font-weight: 500;
}

.pay .coupon {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pay .coupon > label {
    width: 100%;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.pay .coupon > input {
    min-height: 50px;
    width: 73%;
    padding: 0 12px;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
}

.pay .coupon > input:focus + button {
    background-color: var(--black-color);
}

.pay .coupon > button {
    background-color: #C7C7C7;
    width: 25%;
    min-height: 50px;
}